body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.body-wrapper {
    max-width: 1920px;
    max-height: 1080px;
}

header {
    height: 10%;
}

main {
    height: 75%;
}

footer {
    height: 15%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.word-wrap {
    word-wrap: break-word;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.no-scrollbar::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}